
{% extends '::default/adminPanel.html.twig' %}
{% block user %}{% endblock %}
{% block contains %}
  {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  <div class="row">
  	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
  		<div class="login-panel panel panel-default">
  			<div class="panel-heading">Accede a tu cuenta</div>
  			<div class="panel-body">
  				<div class="col-md-12" id="login">
            <form action="{{ path('login') }}" method="post">
              <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"/>
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" class="form-control" name="_password"/>
              </div>
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}
              <div class="form-group">
                <button type="submit" id="usuario_Acceder" class="btn btn-default">Login</button>
                <p>¿Aun no tienes una cuenta? <a href="/users/register">Registraté aquí</a></p>
              </div>
            </form>
  				</div>
  			</div>
  		</div>
  	</div><!-- /.col-->
  </div><!-- /.row -->
{% endblock %}
