{% extends '::default/adminPanel.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block user %}{% endblock %}
{% block contains %}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<p>¿Ya tienes una cuenta? <a href="/users/login">Logueate</a></p>
			<div class="panel-heading">Nuevo Usuario</div>
			<div class="panel-body">
				<div class="col-md-12" id="registration">
					{{form_start(form)}}
					{{form_end(form)}}
				</div>
			</div>
		</div>
	</div><!-- /.col-->
</div><!-- /.row -->
{% endblock %}
