/*
Gamas de color
  #5E2750 :morado
  #AEA79F :gris
  #333333 :gris oscuro
  #E95420 :naranja
  #FFFFFF :blanco

*/



thead{
  background-color: #E95420;
  font-weight: bold;
  color: #FFF;
}
tbody tr:hover{
  background-color: #FFF;
}

#empresas{
  width: auto;
  margin: 0 auto;
  margin-top: 5vw;
  background-color: #AEA79F;

}

body{
  background-color: #5E2750;
  font-family: 'Ubuntu', sans-serif;
}
