{% extends '::default/adminPanel.html.twig' %}

{% block body %}
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Listado de Configuraciones</div>
          <div class="panel-body">
            <table data-toggle="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                <thead>
                <tr>
                    <th data-field="id" data-sortable="true" class="thNaranja">ID</th>
                    <th data-field="param" data-sortable="true" class="thNaranja">PARÁMETRO</th>
                    <th data-field="configuracion" data-sortable="true" class="thNaranja">CONFIGURACIÓN</th>
                </tr>
                </thead>
                <tbody>
                  {% for Configuracion in Configuraciones %}
                  <tr>
                    <td class="col-xs-1">{{ Configuracion.id }}</td>
                    <td class="col-xs-2">{{ Configuracion.param }}</td>
                    <td class="col-xs-5">{{ Configuracion.configuracion }}</td>
                  </tr>
                  {% endfor %}
                 </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!--/.row-->

{% endblock %}
