{% extends '::default/adminPanel.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Nuevo Profesor</div>
				<div class="panel-body">
					<div class="col-md-12" id="new-profesores">
						{{form_start(form)}}
						{{form_end(form)}}
					</div>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->
{% endblock %}
